<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">USER </h1>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        User Info
                    </div>
                    <div class="panel-body">
                        <form role="form" id="userForm" method="post" enctype="multipart/form-data" >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <img  ng-src="{{user.hread}}" height="100px" width="100px">

                                </div>
                                <div class="form-group">
                                    <label >Head portrait</label>
                                    <input type="file" id="file"  name="hread" ng-model="hread"/>
                                    <button class="btn btn-default"  type="button" ng-click="update();"><i class="fa fa-refresh"></i>替换</button>
                                    <p class="help-block"> Click to change or upload head portrait</p>
                                </div>
                            </div>
                            </form>
                        <form>
                            <div class="col-lg-9">
                                <div class="form-group ">
                                    <label class="control-label" for="success">account</label>
                                    <input type="text" class="form-control" ng-readonly="true" name="account" ng-model="user.account" id="success" />
                                </div>

                                <div class="form-group ">
                                    <label class="control-label" for="warning">nickname</label>
                                    <input type="text" class="form-control"name="nickname" ng-model="user.nickname" id="warning" />
                                </div>
                                <div class="form-group ">
                                    <label class="control-label" for="name">name</label>
                                    <input type="text" class="form-control"  name="name" ng-model="user.name" id="name" />
                                </div>
                                <div class="form-group ">
                                    <label class="control-label" >sex</label>
                                    <div>
                                        <input type="radio"  name="optionsRadios" name="sex" ng-model="user.sex" value="男" />
                                        <label>
                                            man
                                        </label>
                                        &nbsp; &nbsp; &nbsp;
                                        <input type="radio" name="optionsRadios" name="sex"  ng-model="user.sex"  value="女"  />
                                        <label>
                                            woman
                                        </label>

                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label>Select Department</label>
                                    <select class="form-control" name="dept"  ng-model="user.dept">
                                        <option value="1">财务部</option>
                                        <option value="2">项目部</option>
                                        <option value="3">外协</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Select Company</label>
                                    <select class="form-control" name="company" ng-model="user.company">
                                        <option value="1">Apple</option>
                                        <option value="2">AliBaBa</option>
                                        <option value="3">HuaWei</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Tel</label>
                                    <input class="form-control"   ng-model="user.tel">
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input class="form-control"  ng-model="user.address">
                                </div>
                                <div class="form-group">
                                    <label>Synopsis</label>
                                    <textarea class="form-control" name="desc"  ng-model="user.desc" rows="5"></textarea>
                                </div>
                                <hr />
                                <div class="form-group text-center">
                                    <div style="padding-top: 30px;padding-bottom: 50px">
                                        <button class="btn btn-lg btn-primary" type="button" ng-click="updateUserInfo();">update</button>
                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn btn-lg btn-default"  type="button">cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->