
.footer{text-align:center;color:#15428B; margin:0px; padding:0px;line-height:23px; font-weight:bold;}

.head a{color:White;text-decoration:underline;}


.head_north{overflow: hidden; height:50px;background:url(../../images/manage/head.png) no-repeat;}

.icon{padding:2px 9px; background:url(../../images/manage/tabicons.png) no-repeat; }
.icon-sys{background:url(../../images/manage/directory.png) no-repeat;}
.icon-add{background-position: -19px 0px;}
.icon-nav{background-position: -100px -18px;}
/**ϵͳ����**/
.icon-users{padding-left:8px;background:url(../../images/manage/icon/userManage.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-role{padding-left:8px; background:url(../../images/manage/icon/roleManage.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-set{padding-left:8px; background:url(../../images/manage/icon/user_set.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-query{padding-left:8px; background:url(../../images/manage/icon/userQuery.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-remu-rule{padding-left:8px; background:url(../../images/manage/icon/cp-check.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-cp-zz-ckeck{padding-left:8px; background:url(../../images/manage/icon/cp-zz-check.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
/**��Դ����**/
.icon-package{padding-left:8px; background:url(../../images/manage/icon/resPackage.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-resouce{padding-left:8px; background:url(../../images/manage/icon/resouce.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-res-check{padding-left:8px; background:url(../../images/manage/icon/rescueCheck.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-res-batch{padding-left:8px; background:url(../../images/manage/icon/resourceBatch.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-cp-index{padding-left:8px; background:url(../../images/manage/icon/cpIndex.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-factor-config{padding-left:8px; background:url(../../images/manage/icon/secondLab.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-cache{padding-left:8px; background:url(../../images/manage/icon/cacheManage.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
/**Ӧ�ù���**/
.icon-type{padding-left:8px; background:url(../../images/manage/icon/appType.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-batch{padding-left:8px; background:url(../../images/manage/icon/appBatch.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-check{padding-left:8px; background:url(../../images/manage/icon/appCheck.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
/**�Ƽ�����**/
.icon-push-res-package{padding-left:8px; background:url(../../images/manage/icon/pushResPackage.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-push-res-app{padding-left:8px; background:url(../../images/manage/icon/pushResApp.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-push-uc-index{padding-left:8px; background:url(../../images/manage/icon/pushUcIndex.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-push-uc-reg{padding-left:8px; background:url(../../images/manage/icon/pushUcReg.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-push-app{padding-left:8px; background:url(../../images/manage/icon/pushApp.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-push-cp{padding-left:8px; background:url(../../images/manage/icon/pushApp.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
/**��������**/
.icon-uc-ad{padding-left:8px; background:url(../../images/manage/icon/ucAd.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-uc-like{padding-left:8px; background:url(../../images/manage/icon/ucLike.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-uc-teacher{padding-left:8px; background:url(../../images/manage/icon/ucTeacher.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
/**APP����**/
.icon-app-push-ad{padding-left:8px; background:url(../../images/manage/icon/icon-app-push-ad.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-push-sc{padding-left:8px; background:url(../../images/manage/icon/icon-app-push-sc.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-push-pic{padding-left:8px; background:url(../../images/manage/icon/icon-app-push-pic.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-push-group{padding-left:8px; background:url(../../images/manage/icon/icon-app-push-group.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-push-set{padding-left:8px; background:url(../../images/manage/icon/icon-app-push-set.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-push-user{padding-left:8px; background:url(../../images/manage/icon/icon-app-push-user.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-push-pub{padding-left:8px; background:url(../../images/manage/icon/icon-app-push-pub.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-push-send{padding-left:8px; background:url(../../images/manage/icon/icon-app-push-send.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-push-sendbox{padding-left:8px; background:url(../../images/manage/icon/icon-app-push-sendbox.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-push-revr{padding-left:8px; background:url(../../images/manage/icon/icon-app-push-revr.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-push-phone{padding-left:8px; background:url(../../images/manage/icon/icon-app-push-phone.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-incom-manager{padding-left:8px; background:url(../../images/manage/icon/incom_manager.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-income_estimate{padding-left:8px; background:url(../../images/manage/icon/income_estimate.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-income_real{padding-left:8px; background:url(../../images/manage/icon/income_real.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-income_ticket{padding-left:8px; background:url(../../images/manage/icon/income_ticket.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-income_income{padding-left:8px; background:url(../../images/manage/icon/income_income.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-income_est_rel_dif{padding-left:8px; background:url(../../images/manage/icon/income_est_rel_dif.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-income_priceConfig_exim{padding-left:8px; background:url(../../images/manage/icon/incom_priceConfig_exim.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-report{padding-left:8px; background:url(../../images/manage/icon/icon-app-report.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-income_sector{padding-left:8px; background:url(../../images/manage/icon/icon-app-income_sector.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-income_profit{padding-left:8px; background:url(../../images/manage/icon/icon-app-income_profit.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-app-income_merge{padding-left:8px; background:url(../../images/manage/icon/merge.jpg) 4px 3px no-repeat;display:inline-block;*zoom:1;}
.icon-app-income_detail{padding-left:8px; background:url(../../images/manage/icon/icon-app-income_detail.png) 4px 3px no-repeat;display:inline-block;*zoom:1;}

/**��������**/
.icon-work-query{padding-left:8px; background:url(../../images/manage/icon/icon-work-query.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-work-add{padding-left:8px; background:url(../../images/manage/icon/icon-work-add.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-work-set{padding-left:8px; background:url(../../images/manage/icon/icon-work-set.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.icon-work-count{padding-left:8px; background:url(../../images/manage/icon/icon-work-count.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}
.audit_edit{padding-left:8px; background:url(../../images/manage/icon/m_edit.png) 4px 4px no-repeat;display:inline-block;*zoom:1;}

.icon-system-manage{background:url(../../images/manage/icon/appManage.png) no-repeat;}
.icon-remu-config{background:url(../../images/manage/icon/pushApp.png) no-repeat;}
.icon-file-manage{background:url(../../images/manage/icon/file.png) no-repeat;}
.icon-resource-manage{background:url(../../images/manage/icon/resourceManage.png) no-repeat;}
.icon-apply-manage{background:url(../../images/manage/icon/applyManage.png) no-repeat;}
.icon-push-center{background:url(../../images/manage/icon/pushCenter.png) no-repeat;}
.icon-uc-manage{background:url(../../images/manage/icon/UCManage.png) no-repeat;}
.icon-app-manage{background:url(../../images/manage/icon/app-appManage.png) no-repeat;}
.icon-work-manage{background:url(../../images/manage/icon/workManage.png) no-repeat;}
.icon-remu-download{background:url(../../images/manage/icon/download.png) no-repeat;}
.icon-report-manage{background:url(../../images/manage/icon/icon-report-manage.png) no-repeat;}
.icon-fileGeneration-manage{background:url(../../images/manage/icon/appCheck.png) no-repeat;}
.icon-pushUcReg-manage{background:url(../../images/manage/icon/pushUcReg.png) no-repeat;}

.icon-log{background-position: -380px -80px;}
