@charset "utf-8";
/*! @ Copyright Statement
 *  Project: LinkAge 2014
 *  Release: 2014-11-06  17:22 PM
 *  Author: GuoXiangYao || ChengHui || YangLIJuan
 */ 
/* ! @ Element Reset */
header,footer,nav,aside,section,article,hgroup,menu,dialog,figure,figcaption,time,mark,details,summary{display:block;outline:0;vertical-align:baseline;background:transparent;}
html,body,article,nav,aside,header,footer,section,hgroup,menu,dialog,figure,time,mark,details,summary,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,dfn,em,img,q,samp,small,strong,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,figure{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;outline:0 none!important;}
html,body{direction:ltr;line-height:1;font:14px/2 microsoft yahei,simhei,arial,simsun;color:#333;-webkit-text-size-adjust:none;}
ul,ol,dl,li,dialog,menu{list-style:none;}
img,select,input{vertical-align:middle;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;outline:none;}
input,button,textarea,select{*font-size:100%;font-weight:normal;border:1px solid #e5e5e5;}
table{border-collapse:collapse;border-spacing:0;}
table,caption,th,td{text-align:left;vertical-align:middle;}
table,form,fieldset,img{border:0 none;}
h1,h2,h3,h4,h5,h6{font-size:14px;font-weight:bold;}
p{word-wrap:break-word;word-break:break-all;}
em,dfn,var,cite,address{font-style:normal;}
img{border:0;}
caption{text-align:left;}
b,strong{font-weight:bold;}
del{text-decoration:line-through;}
a,a:visited{color:#333;outline:none;text-decoration:none;}
a,s,u,ins,del{text-decoration:none;}
a:hover,a:active{color:#eb6100;text-decoration:none;}
/* ! @ Special Style Preinstall */
.f-left{float:left;display:inline;} 
.f-right{float:right;display:inline;}
.f-clear{display:block;width:0;height:0;overflow:hidden;clear:both;visibility:hidden;}
.f-none{float:none;}
.clear{ clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;*zoom:1;}
.clearfix{zoom:1;}
* html .clearfix{height:1%;}
/* ! @ display Style */
.inb,.list_img{font:12px/1.5;letter-spacing:-4px;*letter-spacing:normal;*word-spacing:-6px;}
.inb_l,.list_img li{display:inline-block;*zoom:1;*display:inline;letter-spacing:normal;word-spacing:normal;vertical-align:top;}
/*资料修改*/
body {background: #fff;}
.header_wp {background: url(../../images/manage/bg_top.jpg) no-repeat;width: 100%;height: 100px;}
.header_wp p {padding: 25px 30px;margin-left: 100px;}
.header_wp .name_left {font-size: 24px;color: #fff;margin-right: 595px;}
.header_wp .time_right {font-size: 16px;color: #fff;}
.content_wp1 {margin-left: 120px;margin-bottom: 50px;}
.content_wp1 h2 {font-size: 16px;line-height: 300%;}
.content_box1 table {border-top: 1px solid #a2b1d2;border-left: 1px solid #a2b1d2;}
.content_box1 tr th {width: 146px;height:38px;background: #deeefb;border-right: 1px solid #a2b1d2;border-bottom: 1px solid #a2b1d2;text-align: center;}
.content_box1 tr td {width: 464px;height: 38px;border-right: 1px solid #a2b1d2;border-bottom: 1px solid #a2b1d2;padding: 0 14px;}
.content_box1 tr td input{width: 266px;}
.content_box1 tr td .fill_text {width: 258px;height: 24px;border: 1px solid #bababa;padding: 1px 3px;}
.content_box1 tr td .fill_up {display: inline-block;*zoom:1;width: 130px;height: 26px;background: url(../../images/manage/file_up.jpg) no-repeat;cursor: pointer;}
.content_box1 tr td .fill_up input {width: 130px;height: 26px;opacity: 0;filter: alpha(opacity=1);cursor: pointer;}
.content_box1 tr td.gray {color: #979797;}
.content_box1 tr.aptitude {height: 97px;font-size: 14px;}
.content_box1 tr.table_btn td input {width: 118px;height: 28px;border: 1px solid #d5d5d5;cursor: pointer;margin: 35px 80px;*margin: 35px 45px;}
.content_box1 tr.table_btn td input.sub_btn {background: url(../../images/manage/submit_btn.gif) 10px center no-repeat;}
.content_box1 tr.table_btn td input.reset_btn {background: url(../../images/manage/reset_btn.gif) 20px center no-repeat;}
.content_box1 tr.table_btn td input:hover {background-color: #efeeee;}
.content_wp2 {margin-left: 120px;margin-bottom: 50px;}
.content_wp2 h2 {font-size: 16px;line-height: 300%;}
.content_box2 table {border-top: 1px solid #a2b1d2;border-left: 1px solid #a2b1d2;}
.content_box2 tr th {width: 146px;height:38px;background: #deeefb;border-right: 1px solid #a2b1d2;border-bottom: 1px solid #a2b1d2;text-align: center;}
.content_box2 tr td {width: 234px;height: 38px;border-right: 1px solid #a2b1d2;border-bottom: 1px solid #a2b1d2;padding: 0 14px;}
.content_box2 tr td input{width: 166px;}
.content_box2 tr td .fill_text {width: 258px;height: 24px;border: 1px solid #bababa;padding: 1px 3px;}
.content_box2 tr td .fill_up {display: inline-block;*zoom:1;width: 130px;height: 26px;background: url(../../images/manage/file_up.jpg) no-repeat;cursor: pointer;}
.content_box2 tr td .fill_up input {width: 130px;height: 26px;opacity: 0;filter: alpha(opacity=1);cursor: pointer;}
.content_box2 tr td.gray {color: #979797;}
.content_box2 tr.aptitude {height: 97px;font-size: 14px;}
.content_box2 tr.table_btn td input {width: 118px;height: 28px;border: 1px solid #d5d5d5;cursor: pointer;margin: 35px 120px;*margin: 35px 45px;_margin:35px 45px;}
.content_box2 tr.table_btn td input.sub_btn {background: url(../../images/manage/submit_btn.gif) 10px center no-repeat;}
.content_box2 tr.table_btn td input.reset_btn {background: url(../../images/manage/reset_btn.gif) 20px center no-repeat;}
.content_box2 tr.table_btn td input:hover {background-color: #efeeee;}