@charset "utf-8";
/* CSS Document */

html,body,div,ul,ol,dl,li,dt,dd,table,caption,thead,tbody,tfoot,tr,th,td,
a,span,b,i,s,u,ins,del,em,strong,dfn,code,samp,kbd,var,cite,address,blockquote,h1,h2,h3,h4,h5,h6,p,pre,
form,button,label,input,object,select,option,textarea,fieldset,legend,img,iframe,progress,
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;font:inherit;vertical-align:middle;outline:0 none!important;}
html{min-width:100%;min-height:100%;}
body{background-color:#fff;font:14px/2 "Lucida Grande","Lucida Sans Unicode",arial,microsoft yahei,simhei,simsun;color:#333;-webkit-text-size-adjust:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
ul,ol,dl,li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
table,caption,th,td{text-align:left;vertical-align:middle;}
table,form,fieldset,img{border:0 none;}
a,a:visited{color:#333;cursor:pointer;}
a:hover,a:active{color:#396;text-decoration:none;}
a,s,u,ins,del{text-decoration:none;}
b,strong{font-weight:bold;}
em,dfn,var,cite,address{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:bold;font-size:14px;}
p{word-wrap:break-word;word-break:break-all;}


.clear:after{display:block;height:0;content:"";clear:both;visibility:hidden;}.clear{zoom:1;}
.f-left{float:left;display:inline;}
.f-right{float:right;display:inline;}
.f-clear{display:block;width:0;height:0;overflow:hidden;clear:both;visibility:hidden;}
.f-none{float:none;}

.module{width:945px;padding-right:15px;}

.album .ab-title{width:300px;height:20px;padding:39px 0 10px 15px;line-height:20px;font-weight:normal;font-size:14px;}
.album .ab-upload{position:relative;z-index:10;width:295px;height:69px;}
.album .ab-upload-btn a{display:block;height:65px;background-color:#f8f8f8;border:2px dotted #e8e8e8;transition:background 0.2s linear 0s;-webkit-transition:background 0.2s linear 0s;-moz-transition:background 0.2s linear 0s;-o-transition:background 0.2s linear 0s;}
.album .ab-upload-btn a:hover{background-color:#f3f3f3;}
.album .ab-upload-ico{display:block;width:35px;height:35px;margin:15px auto;background:url(../../images/manage/push_sprite.gif) 0 -40px;cursor:pointer;}
.album .ab-upload-cat{position:absolute;top:2px;left:2px;display:none;width:291px;height:65px;background-color:#f8f8f8;}
.album .ab-upload-item{float:left;width:145px;text-align:center;}
.album .ab-upload-item a{display:block;width:145px;height:60px;padding:5px 0 0;text-decoration:none;color:#666;}
.album .ab-upload-item img{width:38px;height:38px;}

.album .ab-files{width:550px;height:28px;padding:31px 0 10px 15px;line-height:28px;}
.album .ab-files-input{opacity:0;filter: Alpha(opacity=1);position:absolute;top:3px;width:82px;height:28px;}
.album .ab-files-btn{float:left;display:inline-block;*zoom:1;width:82px;height:28px;background:url(../../images/manage/file_up_mana.png) no-repeat;position:relative;}
.album .ab-files-tips{float:left;display:block;width:460px;padding-left:8px;}

.album .ab-item{float:left;width:300px;margin:15px 0 0 15px;}
.album .ab-main{position:relative;z-index:1;padding-top:5px;background-color:#fff;border:1px solid #e8e8e8;transition:all 0.2s linear 0s;-webkit-transition:all 0.2s linear 0s;-moz-transition:all 0.2s linear 0s;-o-transition:all 0.2s linear 0s;}
.album .ab-main:hover{border-color:#d8d8d8;box-shadow:1px 1px 2px #eee;}
.album .ab-main-focus{z-index:10;}
.album .ab-head{position:relative;z-index:1;padding:5px 13px 5px 13px;}
.album .ab-head-title{height:26px;margin-right:42px;line-height:26px;font-weight:normal;}
.album .ab-head-title a{text-decoration:none;font-size:16px;color:#333;}
.album .ab-head-info{height:18px;margin-right:42px;line-height:18px;font-size:14px;color:#999;}
.album .ab-head-type{position:absolute;top:10px;right:13px;width:32px;height:32px;line-height:32px;background:url(../../images/manage/push_sprite.gif) 0 -80px no-repeat;text-align:center;font-size:14px;overflow:hidden;color:#fff;}
.album .ab-body{padding:0 13px;}
.album .ab-body-cover{height:184px;padding:5px 0;}
.album .ab-body-cover img{width:272px;height:184px;}
.album .ab-body-des{height:66px;padding:3px 0;line-height:22px;overflow:hidden;color:#666;}
.album .ab-foot{height:44px;background-color:#f8f8f8;border-top:1px solid #e8e8e8;overflow:hidden;}
.album .ab-foot ul{width:300px;}
.album .ab-foot-item{float:left;width:149px;height:44px;border-right:1px solid #e8e8e8;}
.album .ab-foot-item a{position:relative;z-index:1;display:block;height:44px;transition:background 0.2s linear 0s;-webkit-transition:background 0.2s linear 0s;-moz-transition:background 0.2s linear 0s;-o-transition:background 0.2s linear 0s;}
.album .ab-foot-item a:hover{background-color:#f3f3f3;}
.album .ab-foot-ico{position:absolute;top:50%;left:50%;display:block;width:20px;height:20px;margin:-10px;line-height:10;background:url(../../images/manage/push_sprite.gif) no-repeat;font-size:0;overflow:hidden;cursor:pointer;}
.album .ab-foot-play .ab-foot-ico{background-position:0 0;}
.album .ab-foot-down .ab-foot-ico{background-position:-20px 0;}
.album .ab-foot-edit .ab-foot-ico{background-position:-40px 0;}
.album .ab-foot-delete .ab-foot-ico{background-position:-60px 0;}
.album .ab-foot-play:hover .ab-foot-ico{background-position:0 -20px;}
.album .ab-foot-down:hover .ab-foot-ico{background-position:-20px -20px;}
.album .ab-foot-edit:hover .ab-foot-ico{background-position:-40px -20px;}
.album .ab-foot-delete:hover .ab-foot-ico{background-position:-60px -20px;}
.album .ab-edit{position:absolute;top:100%;left:-1px;display:none;width:300px;padding-top:16px;}
.album .ab-edit-con{width:258px;padding:20px;background-color:#fff;border:1px solid #d8d8d8;box-shadow:1px 1px 2px #eee;}
.album .ab-edit-arrow{position:absolute;top:0;left:50%;z-index:10;width:0;height:0;margin-left:-8px;border-width:8px;border-style:dashed dashed solid dashed;border-color:transparent transparent #d8d8d8 transparent;}
.album .ab-edit-arrow-inner{top:1px;border-color:transparent transparent #fff transparent;}
.album .ab-edit-title{font-weight:normal;font-size:14px;}
.album .ab-edit-input{width:236px;padding:4px 10px;border:1px solid #e8e8e8;}
.album .ab-edit-tips{height:30px;line-height:30px;color:#f00;}
.album .ab-edit-btns{height:34px;padding:5px 0;}
.album .ab-edit-btns a{display:inline-block;width:115px;height:32px;line-height:32px;text-align:center;text-decoration:none;font-size:14px;border-radius:3px;}
.album .ab-edit-confirm{float:left;background-color:#44b549;border:1px solid #44b549;color:#fff;}
.album .ab-edit-cancel{float:right;background-color:#fff;border:1px solid #e8e8e8;color:#666;}

.album .ab-main-3 .ab-foot-item{width:99px;}
.album .ab-main-4 .ab-foot-item{width:74px;}
.album .ab-main-4 .ab-edit-arrow{margin-left:26px;}

.popMask{position:fixed;_position:absolute;top:0;left:0;z-index:200;width:100%;height:100%;background-color:#000;filter:alpha(opacity=15);-moz-opacity:.15;-khtml-opacity:.15;opacity:.15;}
.popup{position:fixed;top:50%;left:50%;z-index:500;width:300px;margin:-100px 0 0 -150px;background-color:#fff;}
.popup .pu-head{position:relative;z-index:1;height:30px;background-color:#f6f6f6;}
.popup .pu-head h3{padding:0 50px 0 15px;line-height:28px;}
.popup .pu-head .close{position:absolute;top:0;right:0;width:28px;height:28px;line-height:28px;text-align:center;font-size:18px;}
.popup .pu-tips{padding:30px 20px;text-align:center;font-size:14px;}
.popup .pu-btns{height:34px;padding:10px 0;background-color:#f5f5f5;border-top:1px solid #e8e8e8;}
.popup .pu-btns a{display:inline-block;width:115px;height:32px;margin:0 15px;line-height:32px;text-align:center;text-decoration:none;font-size:14px;border-radius:3px;}
.popup .pu-btns-confirm{float:left;background-color:#44b549;border:1px solid #44b549;color:#fff;}
.popup .pu-btns-cancle{float:right;background-color:#fff;border:1px solid #e8e8e8;color:#666;}

.paging{height:22px;padding:8px 0;line-height:22px;text-align:right;font-size:14px;}
.paging .pg-prev,
.paging .pg-next,
.paging .pg-first,
.paging .pg-last{position:relative;z-index:1;display:inline-block;width:20px;height:22px;vertical-align:top;}
.paging .pg-btns-prev,
.paging .pg-btns-next{position:absolute;top:50%;left:50%;width:0;height:0;margin-top:-6px;border-width:6px;}
.paging .pg-btns-prev{margin-left:-9px;border-style:dashed solid dashed dashed;border-color:transparent #919191 transparent transparent;}
.paging .pg-btns-next{margin-left:-3px;border-style:dashed dashed dashed solid;border-color:transparent transparent transparent #919191;}
.paging .pg-btns-first-outer{margin-left:-14px;}
.paging .pg-btns-last-outer{margin-left:2px;}
.paging .pg-amount{display:inline-block;width:65px;height:22px;text-align:center;vertical-align:top;}
.paging a:hover .pg-btns-prev{border-right-color:#fac354;}
.paging a:hover .pg-btns-next{border-left-color:#fac354;}
.paging span .pg-btns-prev{border-right-color:#ccc;}
.paging span .pg-btns-next{border-left-color:#ccc;}
.paging .pg-jumps{display:inline-block;width:155px;height:22px;line-height:22px;text-align:right;vertical-align:top;}
.paging .pg-input{display:inline-block;width:30px;height:14px;margin:0 3px;line-height:14px;padding:3px 5px;border:1px solid #e8e8e8;text-align:center;vertical-align:middle;color:#888;}
.paging .pg-confirm{display:inline-block;width:40px;height:20px;margin-left:5px;line-height:20px;border:1px solid #e8e8e8;text-align:center;vertical-align:middle;}
.paging .pg-confirm:hover{border-color:#d8d8d8;color:#666;}

.manage{width:800px;margin:0 auto;}
.manage .mn-crumbs{position:relative;z-index:1;height:28px;margin-left:15px;padding:10px 0 10px 30px;}
.manage .mn-crumbs-btn{position:absolute;top:50%;left:0;width:26px;height:26px;margin-top:-13px;background:url(../../images/manage/push_sprite.gif) -40px -80px no-repeat;overflow:hidden;}
.manage .mn-cover{width:322px;margin-left:15px;}
.manage .mn-edit .mn-item{position:relative;z-index:1;width:290px;height:180px;padding:15px;border:1px solid #e8e8e8;}
.manage .mn-edit .mn-item-image{width:290px;height:180px;}
.manage .mn-edit .mn-item-mask{position:absolute;left:15px;bottom:16px;width:290px;height:28px;padding:3px 0;background-color:#333;filter:alpha(opacity=15);-moz-opacity:.15;-khtml-opacity:.15;opacity:.15;}
.manage .mn-edit .mn-item-title{position:absolute;left:15px;bottom:16px;width:290px;height:28px;padding:3px 0;text-indent:10px;overflow:hidden;color:#fff;}
.manage .mn-new{margin-top:-1px;border:solid #e8e8e8;border-width:0 1px;}
.manage .mn-new .mn-item{position:relative;z-index:1;border-top:1px solid #e8e8e8;}
.manage .mn-new .mn-item-title{width:205px;height:75px;padding:10px;line-height:75px;}
.manage .mn-new .mn-item-cover{width:75px;height:75px;padding:10px;}
.manage .mn-new .mn-item-cover img{width:75px;height:75px;}
.manage .mn-new .mn-item-mask{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#eee;filter:alpha(opacity=85);-moz-opacity:.85;-khtml-opacity:.85;opacity:.85;}
.manage .mn-new .mn-item-tool{display:none;position:absolute;top:0;left:0;width:80px;height:20px;padding:37px 120px 38px;}
.manage .mn-new .mn-item-tool a{position:relative;z-index:1;float:left;width:20px;height:20px;margin:0 10px;}
.manage .mn-new .mn-item-ico{position:absolute;top:50%;left:50%;display:block;width:20px;height:20px;margin:-10px;line-height:10;background:url(../../images/manage/push_sprite.gif) no-repeat;font-size:0;overflow:hidden;cursor:pointer;}
.manage .mn-item-edit .mn-item-ico{background-position:-40px 0;}
.manage .mn-item-delete .mn-item-ico{background-position:-60px 0;}

.manage .mn-add{padding:15px;border:solid #e8e8e8;border-width:0 1px 1px;}
.manage .mn-add a{display:block;height:60px;background-color:#fff;border:2px dotted #e8e8e8;transition:background 0.2s linear 0s;-webkit-transition:background 0.2s linear 0s;-moz-transition:background 0.2s linear 0s;-o-transition:background 0.2s linear 0s;}
.manage .mn-add a:hover{background-color:#f8f8f8;}
.manage .mn-add-ico{display:block;width:20px;height:20px;margin:20px auto;background:url(../../images/manage/push_sprite.gif) -40px -40px;cursor:pointer;}
.manage .mn-entry{position:relative;z-index:1;width:700px;padding-left:15px;}
.manage .mn-editor{padding:15px;background-color:#f3f4f8;border:1px solid #e8e8e8;}
.manage .mn-editor-item{padding-bottom:5px;}
.manage .mn-editor-label span{color:#999;}
.manage .mn-editor-input input{width:646px;height:18px;padding:4px 10px;border:1px solid #eaeaea;line-height:18px;color:#999;}
.manage .mn-editor-input textarea{width:646px;height:90px;padding:5px 10px;border:1px solid #eaeaea;line-height:18px;color:#999;resize:none;}
.manage .mn-editor-upload input#imagefile {opacity:0;filter: Alpha(opacity=1);position:absolute;width:102px;top:3px;}
.manage .mn-editor-files{display:block;*zoom:1;width:102px;height:30px;background:url(../../images/manage/single_up.png) no-repeat;position:relative;}
.manage .mn-editor-option{color:#999;}
.manage .mn-editor-option input{width:14px;height:14px;margin-right:5px;}
.manage .mn-editor-btn{padding:10px 0;}
.manage .mn-editor-btn a{padding:4px 30px;background-color:#44b549;border:1px solid #44b549;border-radius:3px;color:#fff;}

.manage .mn-arrow{display:none;}
.manage .mn-arrow-outer,
.manage .mn-arrow-inner{position:absolute;top:45px;width:0;height:0;margin-top:-8px;border-width:8px;}
.manage .mn-arrow-outer{left:-1px;border-style:dashed solid dashed dashed;border-color:transparent #e8e8e8 transparent transparent;}
.manage .mn-arrow-inner{left:0;border-style:dashed solid dashed dashed;border-color:transparent #f3f4f8 transparent transparent;}

.preview{position:relative;z-index:1;margin:auto;padding:10px 15px 0 15px;}
.preview .pv-item{display:none;overflow:hidden;}
.preview .pv-title{border-bottom:1px solid #eee;font-size:20px;}
.preview .pv-info{margin-bottom:10px;color:#999;}
.preview .pv-info-date{margin-right:10px;}
.preview .pv-image{margin-bottom:10px;}
.preview .pv-image img{max-width:100%;}
.preview .pv-slide{position:absolute;left:100%;top:10px;width:50px;}
.preview .pv-slide-item{}
.preview .pv-slide-item a{display:block;padding:5px 0;border:1px solid #e8e8e8;margin:-1px 0;text-align:center;font-size:18px;}
.preview .pv-slide-item a.current{position:relative;z-index:2;background-color:#46aa47;border-color:#46aa47;color:#fff;}
.preview .pv-slide-item a:hover{position:relative;z-index:3;border-color:#46aa47;}
