@charset "utf-8";

body, .doc form, .doc img, .doc ul, .doc ul li, .doc p, .doc table, .doc tr,
	.doc td, .doc h1, .doc h2, .doc h3, .doc h4 {
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	list-style: none;
	color: #333333;
}

tr, td, th {
	word-wrap: break-word;
}

img {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.layout {
	zoom: 1;
	clear: both;
}

.layout:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.layout-l {
	float: left;
}

.layout-r {
	float: right;
}

.hidden {
	display: none;
}

.header {
	background: url(../../images/manage/login-head.png) top center no-repeat;
	height: 70px;
	background-size: 1400px 90px;
}

.center {
	background: url(../../images/manage/login.png) top center no-repeat;
	background-size: 1068px 624px;
	position: relative;
	height: 624px;
}

.footer {
	margin-top: 3px;
	bottom: 0;
	text-align: center;
}

.container {
	width: 320px;
	margin: 0 auto;
	padding-top: 225px;
	font-size: 14px;
	position: absolute;
	padding-left: 53%;
}

.container input {
	font-size: 14px;
}

.container .col-1 {
	margin-bottom: 19px;
	padding-left: 45px;
}

.container .col-1 .input-1 {
	height: 38px;
	width: 200px;
	border: 1;
	background: none;
}

.container .col-1 .input-2 {
	height: 38px;
	width: 200px;
	border: 1;
	background: none;
}

.val-code {
	width: 144px;
	height: 38px;
	border: 1px solid #f2f2f2;
	text-align: center;
	line-height: 38px;
}

.container .col-2 {
	margin-top: 30px;
}

.container .col-2 .btn-login {
	margin-left: 100px;
	background: #1688f1;
	color: #FFFFFF;
	width: 150px;
	height: 38px;
	border: 0;
}

.form-error {
	color: #c00;
	position: absolute;
	top: 190px;
	left: 80%;
	line-height: 38px;
}

.code-error {
	color: #c00;
	position: absolute;
	bottom: 35px;
	left: 90%;
	line-height: 38px;
}

.layout-r img {
	cursor: pointer;
}

.spinner {
	margin: 0px auto;
	width: 150px;
	height: 38px;
	margin-left: 100px;
	border-radius: 2px;
	background-color: #1688F1;
	text-align: center;
	font-size: 10px;
}

.spinner>div {
	background-color: #fff;
	height: 100%;
	width: 2px;
	display: inline-block;
	-webkit-animation: stretchdelay 0.7s infinite ease-in-out;
	animation: stretchdelay 0.7s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.spinner .rect3 {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}

@-webkit-keyframes stretchdelay { 
	0%, 
	40%, 
	100% {
	-webkit-transform: scaleY(0.4);
	}
	20%{
		-webkit-transform:scaleY(1);
	}
}
@keyframes stretchdelay { 
	0%, 
	40%, 
	100% {
	transform: scaleY(0.4);
	-webkit-transform: scaleY(0.4);
	}
	20%{
		transform:scaleY(1);               
		-webkit-transform:scaleY(1);
	}
}

@media (min-width: 1200px){ 
 #btn-nin{
 	display: none;
 }
}
@media (max-width: 1200px){ 
 #btn-q{
 	display: none;
 } 
}