<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.migu.income.dao.MiguIncomeManagerHisMapper">
  <resultMap id="BaseResultMap" type="cn.migu.income.pojo.MiguIncomeManagerHis">
    <id column="INCOME_MANAGER_HIS_ID" jdbcType="VARCHAR" property="incomeManagerHisId" />
    <result column="MIGU_INCOME_MANAGER_ID" jdbcType="VARCHAR" property="miguIncomeManagerId" />
    <result column="AUDIT_PERSON" jdbcType="VARCHAR" property="auditPerson" />
    <result column="AUDIT_DEPT" jdbcType="VARCHAR" property="auditDept" />
    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
    <result column="DEAL_RESULT" jdbcType="VARCHAR" property="dealResult" />
    <result column="DEAL_OPTIONS" jdbcType="VARCHAR" property="dealOptions" />
     <result column="TYPE" jdbcType="VARCHAR" property="type" />
  </resultMap>
 
  
  <sql id="Base_Column_List">
    INCOME_MANAGER_HIS_ID, MIGU_INCOME_MANAGER_ID, AUDIT_PERSON, AUDIT_DEPT, CREATE_DATE, 
    DEAL_RESULT, DEAL_OPTIONS,TYPE
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_MIGU_INCOME_MANAGER_HIS
    where INCOME_MANAGER_HIS_ID = #{incomeManagerHisId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_MIGU_INCOME_MANAGER_HIS
    where INCOME_MANAGER_HIS_ID = #{incomeManagerHisId,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insert" parameterType="cn.migu.income.pojo.MiguIncomeManagerHis">
  
    insert into T_MIGU_INCOME_MANAGER_HIS (INCOME_MANAGER_HIS_ID, MIGU_INCOME_MANAGER_ID, 
      AUDIT_PERSON, AUDIT_DEPT, CREATE_DATE, 
      DEAL_RESULT, DEAL_OPTIONS,TYPE)
    values (#{incomeManagerHisId,jdbcType=VARCHAR}, #{miguIncomeManagerId,jdbcType=VARCHAR}, 
      #{auditPerson,jdbcType=VARCHAR}, #{auditDept,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, 
      #{dealResult,jdbcType=VARCHAR}, #{dealOptions,jdbcType=VARCHAR},#{type})
  </insert>
  <insert id="insertSelective" parameterType="cn.migu.income.pojo.MiguIncomeManagerHis">
   
    insert into T_MIGU_INCOME_MANAGER_HIS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="incomeManagerHisId != null">
        INCOME_MANAGER_HIS_ID,
      </if>
      <if test="miguIncomeManagerId != null">
        MIGU_INCOME_MANAGER_ID,
      </if>
      <if test="auditPerson != null">
        AUDIT_PERSON,
      </if>
      <if test="auditDept != null">
        AUDIT_DEPT,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="dealResult != null">
        DEAL_RESULT,
      </if>
      <if test="dealOptions != null">
        DEAL_OPTIONS,
      </if>
      <if test="type != null">
        TYPE
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="incomeManagerHisId != null">
        #{incomeManagerHisId,jdbcType=VARCHAR},
      </if>
      <if test="miguIncomeManagerId != null">
        #{miguIncomeManagerId,jdbcType=VARCHAR},
      </if>
      <if test="auditPerson != null">
        #{auditPerson,jdbcType=VARCHAR},
      </if>
      <if test="auditDept != null">
        #{auditDept,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="dealResult != null">
        #{dealResult,jdbcType=VARCHAR},
      </if>
      <if test="dealOptions != null">
        #{dealOptions,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type}
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="cn.migu.income.pojo.MiguIncomeManagerHis">
  
    update T_MIGU_INCOME_MANAGER_HIS
    <set>
      <if test="miguIncomeManagerId != null">
        MIGU_INCOME_MANAGER_ID = #{miguIncomeManagerId,jdbcType=VARCHAR},
      </if>
      <if test="auditPerson != null">
        AUDIT_PERSON = #{auditPerson,jdbcType=VARCHAR},
      </if>
      <if test="auditDept != null">
        AUDIT_DEPT = #{auditDept,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="dealResult != null">
        DEAL_RESULT = #{dealResult,jdbcType=VARCHAR},
      </if>
      <if test="dealOptions != null">
        DEAL_OPTIONS = #{dealOptions,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type}
      </if>
    </set>
    where INCOME_MANAGER_HIS_ID = #{incomeManagerHisId,jdbcType=VARCHAR}
  </update>
  <select id="queryList" parameterType="java.lang.String" resultMap="BaseResultMap">
  	   SELECT h.income_manager_his_id, h.migu_income_manager_id, d.dept_name as audit_dept,
        u.user_name as audit_person, h.create_date, h.deal_result, h.deal_options,h.type
      FROM T_MIGU_INCOME_MANAGER_HIS h left join t_migu_departments d on h.audit_dept = d.dept_code
      left join t_migu_users u on u.user_id = h.audit_person
 		WHERE h.MIGU_INCOME_MANAGER_ID=#{0} AND h.TYPE = #{1} order by h.create_date asc 
  </select>
  		
</mapper>