<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.migu.income.dao.TMiguContractMapper" >
  <resultMap id="BaseResultMap" type="cn.migu.income.pojo.TMiguContract" >
  	<result column="RN" jdbcType="VARCHAR" property="rn"/>
    <result column="CON_ID" property="conId" jdbcType="VARCHAR" />
    <result column="CON_PROJECT_CONTRCTOR" property="conProjectContrctor" jdbcType="VARCHAR" />
    <result column="CON_UNDERTAKE_DEPTNAME" property="conUndertakeDeptname" jdbcType="VARCHAR" />
    <result column="CON_NO" property="conNo" jdbcType="VARCHAR" />
    <result column="CON_NAME" property="conName" jdbcType="VARCHAR" />
    <result column="CON_NUMBER" property="conNumber" jdbcType="DECIMAL" />
    <result column="CON_BIG_TYPE" property="conBigType" jdbcType="VARCHAR" />
    <result column="CON_START_TIME" property="conStartTime" jdbcType="VARCHAR" />
    <result column="CON_END_TIME" property="conEndTime" jdbcType="VARCHAR" />
    <result column="CON_TYPE_PAYREC" property="conTypePayrec" jdbcType="VARCHAR" />
    <result column="CON_CURRENCY_AMOUNT" property="conCurrencyAmount" jdbcType="DECIMAL" />
    <result column="CON_VENDOR_ID" property="conVendorId" jdbcType="VARCHAR" />
    <result column="CON_VENDOR_NAME" property="conVendorName" jdbcType="VARCHAR" />
    <result column="CON_BANK_ABSTRCT" property="conBankAbstrct" jdbcType="VARCHAR" />
    <result column="CON_BANK_ACCOUNT_NUM" property="conBankAccountNum" jdbcType="VARCHAR" />
    <result column="CON_TAX_QUALIFIED" property="conTaxQualified" jdbcType="VARCHAR" />
    <result column="CON_TAXAMOUNT" property="conTaxamount" jdbcType="DECIMAL" />
    <result column="PROJECT_ID" property="projectId" jdbcType="VARCHAR" />
    <result column="CON_CAPITAL_NATURE_NAME" property="conCapitalNatureName" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <insert id="saveContract" parameterType="cn.migu.income.pojo.TMiguContract">
    insert into T_MIGU_CONTRACT (CON_ID, CON_PROJECT_CONTRCTOR, CON_UNDERTAKE_DEPTNAME, CON_NO, 
    CON_NAME, CON_NUMBER,CON_BIG_TYPE, CON_START_TIME,CON_END_TIME, CON_TYPE_PAYREC, CON_CURRENCY_AMOUNT, 
    CON_VENDOR_ID, CON_VENDOR_NAME, CON_BANK_ABSTRCT ,CON_BANK_ACCOUNT_NUM,CON_TAX_QUALIFIED,CON_TAXAMOUNT,PROJECT_ID,CON_CAPITAL_NATURE_NAME)
    values (#{conId,jdbcType=VARCHAR}, #{conProjectContrctor,jdbcType=VARCHAR}, #{conUndertakeDeptname,jdbcType=VARCHAR},  #{conNo,jdbcType=VARCHAR}, 
      #{conName,jdbcType=VARCHAR},#{conNumber,jdbcType=VARCHAR},#{conBigType,jdbcType=VARCHAR},#{conStartTime,jdbcType=VARCHAR},
      #{conEndTime,jdbcType=VARCHAR},#{conTypePayrec,jdbcType=VARCHAR},#{conCurrencyAmount,jdbcType=DECIMAL},#{conVendorId,jdbcType=VARCHAR},
      #{conVendorName,jdbcType=VARCHAR},#{conBankAbstrct,jdbcType=VARCHAR},#{conBankAccountNum,jdbcType=VARCHAR},#{conTaxQualified,jdbcType=VARCHAR},#{conTaxamount,jdbcType=DECIMAL},
      #{projectId,jdbcType=VARCHAR},#{conCapitalNatureName,jdbcType=VARCHAR})
  </insert>
  
  <select id="checkDataExists" resultType="java.lang.Integer" parameterType="cn.migu.income.pojo.TMiguContract">
    select count(*) from (select t.*  from T_MIGU_CONTRACT t where 1=1 
	    		AND PROJECT_ID = #{projectId,jdbcType=VARCHAR}
	    		AND CON_NUMBER = #{conNumber,jdbcType=VARCHAR}
	    		AND CON_ID = #{conId,jdbcType=VARCHAR}
	    	)
  </select>
  
  <select id="queryTotal" resultType="java.lang.Integer" parameterType="java.util.Map" >
    select count(*) from (select t.*  from T_MIGU_CONTRACT t where 1=1 
	     	<if test="projectId != null">
	    		AND PROJECT_ID = #{projectId,jdbcType=VARCHAR}
	    	</if>
	    	<if test="q_conNumber != null">
	    		AND   (CON_NUMBER like concat(concat('%',#{q_conNumber}),'%') ESCAPE '\')  
	    	</if>
	    	<if test="q_conNo != null">
	    		AND   (CON_NO like concat(concat('%',#{q_conNo}),'%') ESCAPE '\')  
	    	</if>
	    	)
  </select>
  
  <select id="queryAllAssociatedContract" resultMap="BaseResultMap" parameterType="java.util.Map">
	     select t11.*
  			from (select t1.*, rownum rn
	          from (select t.*
	                  from T_MIGU_CONTRACT t       
	                 where 1 = 1
	                <if test="projectId != null">
			    		AND PROJECT_ID = #{projectId,jdbcType=VARCHAR}
			    	</if>
			    	<if test="q_conNumber != null">
			    		AND   (CON_NUMBER like concat(concat('%',#{q_conNumber}),'%') ESCAPE '\')  
			    	</if>
			    	<if test="q_conNo != null">
			    		AND   (CON_NO like concat(concat('%',#{q_conNo}),'%') ESCAPE '\')  
			    	</if>
	                ) t1) t11
	 	where rn between (#{curPage} - 1) * #{pageSize} + 1 and
	       (#{curPage}) * #{pageSize}
  </select>
  
  
  <delete id="cancelAssociatedContract" parameterType="java.util.List" >
    delete from T_MIGU_CONTRACT where 1=1 and 
    <foreach collection="list" item = "item" open="(" separator="or" close=")">
  		(CON_ID=#{item.conId})
    </foreach>
    	and 
    <foreach collection="list" item = "item" open="(" separator="or" close=")">
  		(PROJECT_ID=#{item.projectId} )
    </foreach>
  </delete>
  
</mapper>