<section id="menu-price" class="container price generic">
    <h2 id="fittext2" class="title-start">
        introduce</h2>
    <p class="sub-title">About the author</p>
    <div class="col-md-2"></div>
    <div class="pricing-table-col col-md-8">
        <ul>
            <li class="head">
                <h2>Basic</h2>
                <p class="price"><span>{{user.name}}</span> /name</p>
            </li>
            <li class="head">
                <p class="price"><span>{{user.neptunId}}</span> /Neptun ID</p>
            </li>
            <li class="head">
                <p class="price"><span>{{user.email}}</span> /Email address</p>
            </li>

        </ul>
    </div>
</section>